body{
    background-color: maroon;
    color: white;
    margin: 0;
    /* font-family: Arial, sans-serif; */
}

/* the fieldset elements */
fieldset{
    margin-bottom: 16px;
    /* border: 1px solid white;
    padding: 10px;
    border-radius: 6px; */
}

legend{
    font-weight: bold;
    font-size: 1.1em;
}

a{
    color: white;
    text-decoration: underline;
}

img{
    display: block;
    margin: 0 auto;
}


